@import '../styles/resources.scss';

.movieTitle {
  @include movie-color($purple);
}

.movieImg {
  display: block;
  width: $margin-250;
}

.good {
  color: $blue;
}

.soso {
  color: $orange;
}

.bad {
  color: $red;
}