@import '../styles/resources.scss';

.apparelContainer {
  text-align: center; 
  background: linear-gradient(rgb(255, 255, 255),#efc8ff);
}

.apparelTile {
  color: $purple;
  font-size: $margin-17;
  font-weight: bold;
  margin: $margin-15 $margin-0;
  &:hover {
  background: $purple;
  color: $white;
  }
}

.apparelPrice {
  margin: $margin-1, $margin-0;
}

.apparelImage {
  width: 20%;
  height: $margin-400;
  object-fit: cover;
  border: $margin-1 solid #111;
}

.apparelDescription{
  color: $white;
}