.App {
  margin: 20px;
}

.menuItem {
  text-decoration: none;
  display: inline-block;
  border: 2px solid #B476CE; /* 線幅・種類・色 */
  color: #f8d9f2; /* 文字色 */
  background: #B476CE; /* 背景色 */
  margin: 0 2px;
  padding: 0.5em 1em;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  transition: 0.3s;
}

menuItem:hover {
  background: #faeeff
}
